/* * --- CONTACT-ME SECTION --- * */

#header-contactMe {
  text-align: center;
}

#header-contactMe h1 {
  font-size: 42px;
  font-weight: 400;
}

#header-contactMe P {
  font-size: 17.5px;
  color: #fcfcfc6b;
  
}
