/* * Header *  */

#header-block {
  position: relative;
}
#title-one {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5vh;
  font-size: 160px;
  margin-left: 4.1vh;

  letter-spacing: 1.5vw;
}
#title-two {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  font-size: 160px;
  margin-right: 4.1vh;

  letter-spacing: 1.5vw;
}

#button-contactme {
  position: absolute;
  top: 5vh;
  left: 4.1vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
  z-index: 2;

  margin-top: 10px;
  margin-left: 1230px;

  transition: transform 0.7s ease;
  cursor: pointer;
  
}

#button-contactme p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #727272;

  background-color: #edeeef;
  padding: 10px 30px;
  border-radius: 30px;
  transition: color 0.5s ease;
}

.arrow-container {
  background-color: #edeeef;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-contactme img {
  width: 45px;
  filter: invert(45%);
  transition: filter 0.7s ease;
}

#button-contactme:hover {
  transform: scale(1.1);
  color: #0d0d0d;
}

#button-contactme:hover p {
  color: #0d0d0d;
}
#button-contactme:hover img {
  filter: invert(0%);
}

#value-text {
  font-family: Arial, sans-serif;
  color: #fcfcfc6b;
  font-size: 25px;
  margin-left: 16vh;
  margin-top: 4vh;
  font-weight: 100;
  max-width: 500px;
}

.font-weight {
  font-weight: 600;
  color: #f2f0efe0;
}

/* * Main * */
#main-block {
  margin: auto;
  padding: 40px 20px;

  margin-top: 50px;
}

.portfolio-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 0;

  margin-bottom: 3em;
}

.portfolio-navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 190px;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 transparent;

  backdrop-filter: blur(2px);
  transition: transform 0.5s ease, box-shadow 0.6s ease;
}

.portfolio-navigation a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(226, 213, 213, 0.342);
  background-color: rgba(255, 255, 255, 0.062);
  border-color: rgba(255, 255, 255, 0.185);
}

.portfolio-navigation a:hover img {
  transform: scale(1.3);
}

.portfolio-navigation img {
  width: 3vh;
  filter: invert(1);
  transition: transform 0.5s ease, box-shadow 0.6s ease;
}

.portfolio-navigation img:hover {
  transform: scale(1.5);
}

.portfolio-navigation h3 {
  font-size: 0.9em;
  margin-top: 1em;
}

.portfolio-navigation p {
  color: #fcfcfc91;
  font-size: 0.8em;
  text-align: center;

  margin-top: 10px;
}

/* * NAV BLOCK * */

.nav-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* * Primeiro botão: "Formação" * */
.nav-block:nth-child(1) {
  background: linear-gradient(135deg, #40077c60, #0a3e9763);
}

/* * Segundo botão: "Educação" * */
.nav-block:nth-child(2) {
  background: linear-gradient(135deg, #01836d57, #02aab086);
}

/* *Terceiro botão: "Projetos"* */
.nav-block:nth-child(3) {
  background: linear-gradient(135deg, #fc4b1a50, #f7b633b0);
}

/* *Quarto botão: "Sobre mim"* */
.nav-block:nth-child(4) {
  background: linear-gradient(135deg, #bd435b73, #9a1db960);
}
