/* * logo * */

#nome-logo {
  width: 120px;
  margin-left: 4vh;
}

/* * Navbar * */

#navbar-container {
  display: flex;
  flex-direction: row;
}

#navbar {
  position: fixed;
  /* top: 0; */
  left: 0;
  right: 0; /* Estica a navbar por toda a largura */
  display: flex;
  flex-direction: row;

  padding: 10px 20px;

  font-family: Arial, Helvetica, sans-serif;
  z-index: 99999;

  margin-top: 2vh;
}

#navbar-lista-superior {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  gap: 20px;

  border-radius: 14px;
  padding: 12px 25px;
  backdrop-filter: blur(2px);
  background-color: #000000ad;
  box-shadow: 1px 0px 8px 9px rgba(255, 255, 255, 0.178);
  -webkit-box-shadow: 1px 0px 8px 5px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 1px 0px 8px 2px rgba(255, 255, 255, 0.082);
  border: 1px solid rgba(255, 255, 255, 0.3);

  margin: auto;
}

#navbar-lista-superior li {
  padding: 8px 15px;
  background: none;
  font-weight: 500;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;

  transition: color 0.3s ease, transform 0.2s ease;
}

#navbar-lista-superior li:hover {
  transform: translateY(-4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#navbar-lista-superior li.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* * Footer *  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  margin-top: auto;
  padding: 10px 20px;

  font-family: Arial, Helvetica, sans-serif;
}
